@font-face {
  font-family: "Happiness-Sans-Title";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --colorA: #b8d4d7;
  --colorB: #fceed1;
  --colorC: #e3563c;
  --colorD: #e6e6e5;
  --colorE: #38383a;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Happiness-Sans-Title";
  min-width: 320px;
}

body {
  padding: 10px;
}

* {
  box-sizing: border-box;
}

.title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: var(--colorE);
  background-color: var(--colorA);
  height: 50px;
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-flow: row nowrap;
  height: calc(100% - 60px);
  margin-top: 10px;
}

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  width: 120px;
  flex-shrink: 0;
  color: var(--colorE);
  background-color: var(--colorB);
  padding: 10px;
}

.sidebar > span {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  border: 2px solid var(--colorA);
  margin-left: 10px;
  align-content: flex-start;
  overflow-y: scroll;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  width: 200px;
  min-height: 150px;
  padding: 10px;
  background-color: var(--colorB);
  margin: 10px;
  border-radius: 10px;
}

.card > img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.card > span {
  text-align: center;
  word-break: break-all;
}

@media (max-width: 1000px) {
  .card {
    background: var(--colorA);
  }
}
@media (max-width: 700px) {
  .card {
    background: var(--colorC);
  }
}
