@font-face {
  /* font-family: "Cafe24Ohsquareair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff")
    format("woff"); */
  font-family: "TmonMonsori";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* RGB : 227 86 60 : #e3563c */
/* RGB : (230,230,229) #e6e6e5 회색*/
/* RGB : (56, 56, 58) #38383a */

:root {
  /* --mint: #9ddfd3;
  --coral: #fd9795;
  --beige: #e1cfbd; */
  --colorA: #b8d4d7;
  --colorB: #fceed1;
  --colorC: #e3563c;
  --colorD: #e6e6e5;
  --colorE: #38383a;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "TmonMonsori";
  min-width: 320px;
}

body {
  padding: 10px;
}

* {
  box-sizing: border-box;
}

.title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: var(--colorB);
  background-color: var(--colorA);
  /* border: 5px solid var(--coral); */
  height: 50px;
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-flow: row nowrap;
  height: calc(100% - 60px);
  margin-top: 10px;
}

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  width: 120px;
  flex-shrink: 0;
  /* border: 5px solid black; */
  color: var(--colorE);
  background-color: var(--colorB);
  padding: 10px;
}

.sidebar > span {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  border: 5px solid lightblue;
  margin-left: 10px;
  align-content: flex-start;
  overflow-y: scroll;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  width: 200px;
  min-height: 150px;
  padding: 10px;
  background-color: var(--beige);
  margin: 10px;
  border-radius: 10px;
}

.card > img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.card > span {
  text-align: center;
  word-break: break-all;
}

@media (max-width: 1000px) {
  .card {
    background: var(--coral);
  }
}
@media (max-width: 700px) {
  .card {
    background: var(--mint);
  }
}
